body {
    background-color: #e9ffcd;
    margin: 0;  
}

header{
    background-color: #3d7f0c;
    padding: 10px 20px;
    color: #e9ffcd;
    width: 100%;
    text-align: center;
    height: 12px;
    margin: 0;
}

footer{
    width: 100%;
    background-color: #3d7f0c;
    color: #e9ffcd;
    padding: 10px 20px;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999; 
    margin: 0;
}

nav {
    background-color: #e9ffcd;
    padding: 4px;
    border-bottom: 2px solid #3d7f0c;
    display: flex;
    justify-content: center; 
    gap: 30px;
    align-items: center;
    
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #3d7f0c;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
    font-size: 16.5px
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #3d751f;
    text-align: center;
}



/* ===== TELA DE CADASTRO ===== */
.form-cadastro {
  max-width: 400px;
  padding: 20px;
  margin: 40px auto;
  background-color: #eaffc7;
  border-radius: 8px;
  border: 2px solid #5a8f00;
}

.form-cadastro label {
  display: block;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 4px;
}

.form-cadastro input,
.form-cadastro select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;
}

.form-cadastro input:focus,
.form-cadastro select:focus {
  outline: none;
  border-color: #5a8f00;
}

/* Botão cadastrar */
.btn-cadastrar {
  margin-top: 16px;
  width: 100%;
  padding: 10px;
  background-color: #4c9a00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cadastrar:hover {
  background-color: #3e7e00;
}

/* ===== TABELA DE EXIBIÇÃO ===== */
.tabela-produtos {
  width: 95%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #f7ffe6;
}

.tabela-produtos th,
.tabela-produtos td {
  padding: 10px;
  border: 1px solid #8fbf3d;
  text-align: center;
}

.tabela-produtos th {
  background-color: #5a8f00;
  color: white;
}

.tabela-produtos tr:nth-child(even) {
  background-color: #ecffd1;
}

/* ===== BOTÕES DENTRO DA TABELA ===== */
.form-acoes {
  display: flex;
  gap: 6px;
  justify-content: center;
}

/* Botão editar */
.btn-editar {
  padding: 6px 10px;
  background-color: #f0ad4e;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-editar:hover {
  background-color: #d99632;
}

/* Botão excluir */
.btn-excluir {
  padding: 6px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-excluir:hover {
  background-color: #b52b27;
}
